#contenedor {
  flex-wrap: wrap;
}
body {
  margin: 0;
  padding: 0;
  background-color: #D8F3DC;
}
nav {
  width: 100%;
  height: 30px;
  background-color: #112C1D;
  position: absolute;
  z-index: 1;
  padding-bottom: 20px;
}
nav ul{
  display: flex; /* disposición flexible*/
  justify-content: center; /* disposición en el centro*/
  list-style: none; /* los estilos de lista*/
}
nav ul a{
  margin-right: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #c0f7db;
}
 .name{
   width : 100%;
   height: 300px;
   display: flex;
   background-color: #40916C;
   transform: skewY(-4deg);
 }
 .name .foto{
   position: absolute;
   top: 30%;
   right: 5%;
   width: 200px;
   height: 200px;
   border-radius: 100%;
   transform: skewY(4deg);
   overflow: hidden; /*ocultar lo sobrante*/
 }
 .name .foto img{
   width: 250px;
   height: 305px;
 }
.name .content {
  width: 50%;
  position: absolute;
  left: 25%;
}
.name .content .p-1 {
  color: #112C1D;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  font-size: 55px;
  transform: skewY(4deg);
  margin-bottom: 0px;
}
.name .content .p-2 {
  color: #0B1D14;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  font-size: 45px;
  transform: skewY(4deg);
  margin-top: 0px;
  margin-bottom: 0px;
}
.info {
  width: 90%; /* dar sangría */
  height: auto; /* altura automatica */
  background-color: #40916C;
  margin: 5% auto; /* espaciado exterior automatica */
  padding: 20px;  /* espaciado interior automatica */
  border-radius: 20px;
  text-align: center;
}
.info .tituloSeccion {
  color: #112C1D;
  font-family: 'Oswald', sans-serif;
  font-size: xx-large;
  text-align: center;
  font-weight: bolder;
  border-bottom: 2px #D8F3DC solid;
  margin-top: -20px;
}
.info .tituloInfo {
  color: #112C1D;
  font-family: 'Oswald', sans-serif;
  font-size: large;
  font-weight: bolder;
  display: inline;
  margin-right: 20px;
}
.info img {
  width: 20px;
}
.info .infoInfo {
  color: #112C1D;
  font-family: 'Oswald', sans-serif;
  font-size: large;
  font-weight: normal;
  display: inline; /* organización en linea*/
  margin-right: 50px;
}

.info span {
  display: inline-block; /* organización en linea*/
  width: auto;
  height: auto;
  padding-left: 1%;
  padding-right: 1%;
  background-color: aqua;
  color: #c0f7db;
}
